
.nav-bar{
width: 100%;
height:44px;
display:flex;
flex-direction: row;
justify-content: space-between;
padding-left: 10px;
padding-right:10px;
padding-top:5px;
padding-bottom:5px;
}
.nav-bar-left{
    flex: 0 100%;
    display: flex;
    flex-direction:row;
    justify-content: space-between;

}

.nav-bar-right{
    flex: 0 1 39px;
    height:34px;
    margin-left: 10px;
    overflow: hidden;
    flex-direction: row;
    justify-content: flex-end;
}

@media only screen and (min-width: 768px) {
    /* For everything bigger than 768px */
    .nav-bar{
        width: 1280px;
        margin:auto;
        height: 44px;
    }
    .nav-bar-left{
        flex: 0 400px;
        display: flex;
        flex-direction:row;
        justify-content: space-between;
    
    }
    .nav-bar-right{
        flex: 0 390px;
        height:34px;
        margin-left: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
  }

